/* .color-primary-0 { color: #2B5E89 }	
.color-primary-1 { color: #6C95B7 }
.color-primary-2 { color: #43729A }
.color-primary-3 { color: #184A73 }
.color-primary-4 { color: #09355A }

.color-secondary-1-0 { color: #393794 }	
.color-secondary-1-1 { color: #7A79C2 }
.color-secondary-1-2 { color: #5251A6 }
.color-secondary-1-3 { color: #24237C }
.color-secondary-1-4 { color: #131162 }

.color-secondary-2-0 { color: #269066 }	
.color-secondary-2-1 { color: #6ABE9C }
.color-secondary-2-2 { color: #40A27B }
.color-secondary-2-3 { color: #137950 }
.color-secondary-2-4 { color: #035F3A }



.clear-fix {
  overflow: auto;
}

.online-entry, .education-entry, .work-entry, .project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #000080;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 18px;
    color: #5a5a5a;
    line-height: 10px;
    margin-top: 30px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #000080;
  display: none;
}

.orange {
  background-color: #09355A;
}

.gray {
  background-color: #6C95B7;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #184A73;
}


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}



@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  } 
}*/




/* .icon { display: inline-block; background: url(images/sm_icon_sprite.png) no-repeat; height: 32px; width: 32px; }
.icon.icon-twitter { background-position: 0px 0px; }
.icon.icon-linkedin { background-position: 0px -32px; }
.icon.icon-skype { background-position: 0px -64px; }
.icon.icon-email { background-position: 0px -96px; } */


html, body {
  height: 100%;
  min-height: 300px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Mitr', sans-serif;
}

body, div, ul, li, p {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.jumbotron {
	background: no-repeat center right fixed url("../images/main-background.JPG");

	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	/* -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/main-background.JPG', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/main-background.JPG', sizingMethod='scale'); */

	margin-bottom: 0px;
  padding: 0px;
  height: 100vh;
}
.jumbotron .overlay {
  background-color: #6C95B7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.75;
  filter:alpha(opacity=75);
  z-index: 2;
}

.jumbotron .container {
  position: relative;
  top: 25%;
  z-index: 3;
  text-align: center;
}
.jumbotron .container > * {
  text-align: center;
  color: #FFFFFF;
}
.jumbotron .container h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  display: inline-block;
}
.jumbotron .container #role {
  font-size: 22px;
  padding: 20px;
  color: #eeeeee;
}
.jumbotron .scroll-down {
  height: 50px; 
  width: 60%;
  display: block;
  position: absolute;
  bottom: 0px;
  text-align: center;
  background-color: #000000;
  z-index: 5;
  right: 20%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@keyframes bounce {
	0% {font-size: 0px;}
	/* 50% {font-size: 40px;} */
	100% {font-size: 65px;}
}
.jumbotron .scroll-down .bounces {
  color: #ffffff;
  z-index: 6;
	animation-name: bounce;
	animation-duration: 3s;
  animation-iteration-count: infinite;
  vertical-align: bottom;
  height: 75px;
}
.jumbotron .scroll-down:hover {
  background-color: #444444;
}


/* a ver
#profile .row > div { margin-bottom: 20px; }
#profile .row > div img { width: 100%; max-width: 246px; height: auto; }

*/
/* .navbar  { border: 0px; background-color: #222222; position: absolute; top: 100%; right: 5%; width: 110px; z-index: 999; }
.navbar .navbar-collapse { padding: 0px; max-height: none; }
.navbar .navbar-nav { float: none; }
.navbar-nav { margin: 0px; }
.navbar .nav > li { display: block; float: none; height: 80px; } 
.navbar .nav > li a { display: block;  height: 80px; text-align: center; padding-top: 30px; font-weight: 600; color: #FFFFFF; }
.navbar .nav > li a:hover, .navbar .nav > li a:focus { color: #999999; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background: #22A39F; color: #FFFFFF; }
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar { background: #222222; }

.fixed .navbar  { position: fixed; top: 60px; } */
