body {
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-weight: bolder;
}

.jumbotron {
    background: url("img/SellingMargarita_bkgd.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.titleBox {
    background-color:black;
    text-align: center;
    opacity: .75;
    color: white;
    max-width: 70%;
    
    border-style: solid;
    border-width: thick;
    border-color: white;
    border-radius: 5px;
}

.horLine {
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 30px 0;
}

.container {
    padding: 50px 25px;
}

.alert {
    text-align: center;
}

a { 
  color: white; text-decoration: none; 
}
a:hover {
  color: white; text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}